@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Lobster|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
.arr{
    font-family: 'Roboto', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
body{
    padding:0;
    margin:0;
    /*font-family: 'Roboto', sans-serif;*/
    /*font-family: 'Open Sans', sans-serif;*/
    font-family:Arial, Helvetica Neue, Helvetica, serif;
    background:#fbfcfd;
}
*:focus{
    outline:none;
    border:none;
    text-decoration:none;
}
#mainbody {
    width: 100%;
    float: left;
    background: url(../images/bg.jpg)top center no-repeat;
    background-size: cover;
    min-height: 100vh;
}
#topbar{
    width: 100%;
    float: left;
    text-align: right;
    margin: 5px 0 0 0;
}
#topbar a{
    background: #ff7e28;
    color: #800000;
    padding: 15px 20px;
    font-size: 20px;
    float: right;
    font-weight: 800;
    text-transform: capitalize;
}
#topbar a:hover{
    text-decoration:none;
}
#menubar_section{
    width:100%;
    float:left;
}
.leftbar {
    float: left;
    padding: 14px 15px;
    font-size: 30px;
    background: #5cb7b4;
    color: #000;
    margin: 0 10px 0 0;
}
.navbar-default {
    background-color: #61d6ff;
    border-color: #61d6ff;
    margin: 0;
    border: none;
}
.navbar-nav{
    background: #ef1175;
    margin: 10px 0;
    padding: 0 0 0 10px;
}
.navbar-default .navbar-nav > li > a {
    color: #ffff99;
    font-size: 19px;
    font-weight: 600;
}
.navbar-default .navbar-nav > li > a:hover {
    color: #800000;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: transparent;
}
.navbar-brand {
    float: left;
    height: 50px;
    padding: 20px 10px;
    font-size: 28px;
    line-height: 30px;
    margin: 0 0 0 0;
    font-weight: 800;
    color: #900808 !important;
}
.navbar-default .navbar-nav > .open > a,
 .navbar-default .navbar-nav > .open > a:hover,
  .navbar-default .navbar-nav > .open > a:focus {
    color: #FFF;
    background-color: #5cb7b4;
}
.navbar-nav > li > .dropdown-menu {
    margin: 0;
    border:none;
}
.dropdown .dropdown-menu{
    background-color: #61d6ff;
}
.dropdown-menu-large .dropdown-header {
    color: #ef1175;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 800;
}
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 300;
  line-height: 1.428571429;
  color: #000;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
    text-decoration: none;
    color: #FFF;
    background-color: transparent;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.bannerImg{
    width:100%;
}
#deydeals {
    width: 100%;
    float: left;
    padding: 35px 0;
    background: url(../images/dealsdaybg.png)center center no-repeat;
    background-size: contain;
}
.box_headline{
    width:100%;
    float:left;
    background:#61d6ff;
    padding:7px;
    margin-bottom: 20px;
}
.box_headline h2{
    width:100%;
    float:left;
    background:#e80e51;
    color:#ffff99;
    text-align:center;
    font-size:22px;
    line-height:30px;
    text-transform:uppercase;
    font-weight:600;
    margin:0;
    padding:10px;
}
.dayoffer{
    width:100%;
    float:left;
    border:5px solid #5cb7b4;
    box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    position:relative;
    overflow:hidden;
}
.dayoffer img{
    width:100%;
}
.dayoffer_tham {
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 0px;
    height: 0px;
    border-top: 180px solid transparent;
    border-right: 180px solid #e80e51;
}
.dayoffer_tham span{
    width: 80px;
    float: left;
    margin-top: -76px;
    margin-left: 100px;
    font-size: 16px;
    color: #ffff99;
}
.dayoffer_tham a{
    margin-top: -40px;
    margin-left: 80px;
    width: 95px;
    float: left;
    background: #61d6ff;
    padding: 7px 5px 5px 12px;
    border-radius: 10px;
    font-size: 14px;
    color: #e80e51;
    font-weight: 600;
}
.dayoffer_tham a:hover{
    text-decoration:none;
}
.klaProBox{
    width:100%;
    float:left;
    border:5px solid #5cb7b4;
    box-shadow:2px 2px 2px rgba(0,0,0,0.2);
    margin-bottom:20px;
    position:relative;
    overflow:hidden;
}
.klaProBox_tham {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    bottom: -80px;
    background: #e80e51;
    text-align: center;
    box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.2);
    transition:0.5s all;
}
.klaProBox:hover .klaProBox_tham {
    bottom: 0px;
    transition:0.5s all;
}
.klaProBox_tham p{
    width: 100%;
    float: left;
    margin: 0;
    padding: 5px 0;
    font-size: 16px;
    font-weight:600; 
    color: #ffff99;
    text-transform: uppercase;
}
.klaProBox_tham ul{
    width: 100%;
    float: left;
    padding: 0;
    margin: 0 0 20px 0;
    list-style-type: none;
}
.klaProBox_tham ul li{
    display: inline-block;
    padding: 0 5px;
    color: #FFF;
    font-size: 14px;
    border-right: 1px solid #ccc;
}
.klaProBox_tham ul li:last-child{
    border-right:none;
}
.klaProBox_tham span{
    width: 100%;
    float: left;
    margin-bottom: 15px;
}
.klaProBox_tham span a{
    background: #61d6ff;
    padding: 8px 18px;
    border-radius: 10px;
    font-size: 13px;
    color: #e80e51;
    font-weight: 600;
}
.klaProBox_tham span a:hover{
    text-decoration:none;
}
#antiBacterial{
    width:100%;
    float:left;
    padding:10px 0;
}
.anti_main{
    width:100%;
    float:left;
    background:#ffd966;
    padding:10px;
}
.anti_main_inn{
    width:100%;
    float:left;
    background:#33ccff;
    padding:20px;
}
.anti_text h3 {
    font-size: 26px;
    color: #800000;
    font-weight: 800;
    width: 100%;
    float: left;
    margin: 15% 0 0 0;
    padding: 0 0 10px 0;
    line-height: 35px;
}
.anti_text p{
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 22px;
    color: #2f2f2f;
    margin: 0;
    padding: 0 0 10px 0;
}
.anti_text a{
    float: right;
    color: #800000;
    font-weight: 600;
    font-size: 13px;
}
.anti_img img{
    width:100%;
}
footer{
    width:100%;
    float:left;
    background:url(../images/footerBG.jpg) center center no-repeat;
    background-size:cover;
    padding:30px 0;
}
footer h4{
    width: 100%;
    float: left;
    text-align: center;
    color: #e80e51;
    font-size: 15px;
    font-weight: 800;
    text-transform: uppercase;
}
footer ul{
    width:100%;
    float:left;
    list-style-type:none;
    padding:0;
    margin:20px 0 0 0;
}
footer ul li{
    width:50%;
    float:left;
    margin-bottom:20px;
}
footer ul li a{
    font-size:14px;
    color:#ffd966;
}
footer ul li a:hover{
    color:#ffd966;
    text-decoration:none;
}
footer span{
    width:100%;
    float:left;
    margin-bottom:20px;
}
footer span img{
    width:100%;
}
footer p{
    width: 100%;
    float: left;
    text-align: center;
    margin: 0;
    padding: 0 0 5px 0;
    font-size: 14px;
    line-height: 18px;
}
footer p a{
    color:#FFF;
}
footer p a:hover{
    color:#FFF;
    text-decoration:none;
}
footer p a img{
    margin:0 2px;
}
.newsBox{
    width:100%;
    float:left;
    position:relative;
}
.newsBox label{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
}
.newsBox input {
    width: 100%;
    float: left;
    height: 35px;
    border-radius: 10px;
    padding: 0 95px 0 5px;
    margin: 0;
    border: none;
    font-size: 14px;
    font-weight: normal;
}
.newsBox buton{
    position:absolute;
    content:'';
    right:0;
    bottom:0;
    top:0;
    padding:5px 15px;
    font-size:14px;
    border-radius:10px;
    background:#e80e51;
    color:#ffd966;
    cursor:pointer;
}
#copyright{
    width:100%;
    float:left;
    background:#000;
    padding:10px 0;
}
#copyright p{
    width:100%;
    float:left;
    margin:0;
    font-size:13px;
    text-align:center;
    color:#e80e51;
}
#splSreePro{
    width:100%;
    float:left;
    margin-top:30px;
}
.imgProduct{
    width:100%;
    float:left;
}
.imgProduct img{
    width:100%;
}
.outerTextDiv{
    width:100%;
    float:left;
    background:#61d6ff;
    padding:10px;
}
.innerTextDiv{
    width:100%;
    float:left;
    background:url(../images/textbg.png)center center no-repeat;
    background-size:cover;
    padding:10px;
    min-height:632px;
    position:relative;
}
.innerTextDiv p{
    width: 100%;
    float: left;
    font-size: 20px;
    line-height: 26px;
    color: #ffff99;
    margin: 0;
    padding: 0 0 20px 0;
}
.innerTextDiv p:first-child{
    position:relative;
}
.innerTextDiv:before {
    position: absolute;
    content: 'L';
    left: 5px;
    top: -7px;
    font-size: 40px;
    font-weight: 800;
    color: #e8796a;
}
#addtoCart{
    width:100%;
    float:left;
    margin-top:30px;
}
.cartDeatils h4{
    color: #ffff99;
    width: 100%;
    float: left;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin: 0;
    padding: 10px 0;
}
.splTowInfo{
    width: 100%;
    float: left;
    margin: 10px 0;
    padding: 0;
    list-style-type: none;
}
.splTowInfo li{
    width: 50%;
    float: left;
}
.splTowInfo li b{
    width: 100%;
    float: left;
    color: #d3d3d3;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 0 0;
}
.splTowInfo li label{
    width: 100%;
    float: left;
    font-weight: lighter;
    font-size: 12px;
    margin: 0;
    padding: 0;
    color: #FFF;
}
.splTowInfo li label input{
    float: left;
    margin: 0 4px 0 0px;
    width: 12px;
}
.addCartPrice {
    width: 80%;
    float: left;
    background: #cb0644;
    margin-top: 15px;
}
.addCartPrice ul {
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.addCartPrice ul li{
    width: 33.3%;
    float: left;
}
.addCartPrice ul li b{
    font-weight: 800;
    color: #ffff99;
    font-size: 18px;
    padding: 8px;
    float: left;
}
.addCartPrice ul li span{
    border: 1px solid #ffff99;
    padding: 5px 15px;
    border-radius: 15px;
    color: #ffff99;
    float: left;
    margin: 5px 0 0 0;
}
.addCartPrice ul li a{
    background: #ffff99;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    float: left;
    text-align: center;
    color: #cb0644;
    font-weight: 600;
}
.addCartPrice ul li a:hover{
    text-decoration:none;
}
.dispatchtext{
    width:100%;
    float:left;
    margin: 10px 0;
}
.dispatchtext span{
    width: 100%;
    float: left;
    font-size: 14px;
    line-height: 18px;
    color: #FFF;
}
.dispatchtext span img{
    float: left;
    margin-right: 5px;
}
.productInfo {
    width: 80%;
    float: left;
    background: url(../images/gradientbg.jpg) center center no-repeat;
    background-size: cover;
    padding: 10px;
    margin-top: 22px;
    box-shadow: 0.5px 0.3px 0.1px 0.5px rgba(0,0,0,0.1);
}
.productInfo p {
    width: 100%;
    float: left;
    padding: 0 0 10px 0;
    font-size: 12px;
    line-height: 18px;
    margin: 0;
    color: #FFF;
    font-weight: lighter;
}
.productInfo p span{
    width:25%;
    float:left;
}
.codNote {
    width: 100%;
    float: left;
    color: #ffff99;
    font-size: 12px;
    line-height: 16px;
    margin-top: 50px;
    font-weight: lighter;
    letter-spacing: 1px;
}

/* Style the tab */
.tab {
  float: left;
  /* border: 1px solid #33ccff; */
  background-color: #33ccff;
  width: 30%;
  /* height: 300px; */
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: #000000;
  padding: 15px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ef1175;
  color: #fff;
}

/* Create an active/current "tab button" class */
.tab button.active {
  background-color: #ef1175;
    color: #fff;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 15px;
  /* border: 1px solid #ccc; */
  width: 70%;
  border-left: none;
  /* height: 300px; */
}

.my-5
{
    margin-top: 50px;
    margin-bottom: 50px;
}

.my-account
{
    background: #fff;
    display: flex;
    border: 5px solid #ffd966;
}

#order td img
{
    width: 100px;
        margin: auto;
}

#order td
{
        vertical-align: middle;
        text-align: center;
}

.action-btns
{
    text-align: center;
}

/* .action-btns a
{
    margin-right: 10px;
} */

#order .table > thead > tr > th
{
    color: #ef1175;
}

.tabcontent input:hover , .tabcontent input:focus , .tabcontent textarea:hover , .tabcontent textarea:focus
{
    border: 1px solid #ccc;
}

.mb-20
{
    margin-bottom: 20px;
}

.btn-reveal-right
{
    background-color: #ef1175;
    border-color: #ef1175;
    padding: 10px 20px;
    color: #fff;
    transition: all .4s;
}

.btn-reveal-right:hover
{
    padding: 10px 20px;
    border: 1px solid #ff6600;
    background-color: #ff6600;
    color: #fff;
}

.card-address {
    background: #f6f7f9;
    border: 1px solid #e1e1e1;
}

.card-address .card-body {
    padding: 15px 20px;
}

.card-address .card-body h5
{
    font-size: 24px;
    font-weight: 600;
}

.btn-link
{
    padding-left: 0;
    border: none;
}

.inner-banner
{
    background: url('../images/inner-banner-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 90px 0;
    color: #fff;
}

.cart-table
{
    background-color: #fff;
}

.cart-table .table {
    margin: 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.cart-table .table thead tr {
    border-bottom: 1px solid #e5e5e5;
    background: #f3f3f3;
}

.cart-table .table thead tr th {
    text-align: center;
    border: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #333;
    border-right: 1px solid #e5e5e5;
    padding: 12px 10px;
}

.cart-table th.pro-thumbnail, .cart-table td.pro-thumbnail {
    max-width: 160px;
    min-width: 32px;
    width: 160px;
}

.cart-table td.pro-thumbnail img
{
        width: 100px;
    margin: auto;
}

.cart-table th.pro-title, .cart-table td.pro-title {
    min-width: 150px;
}

.cart-table td.pro-title a
{
        color: #111 !important;
        font-size: 18px;
}

.cart-table td.pro-title a:hover
{
    text-decoration: none;
}

.cart-table .table tbody tr td {
    text-align: center;
    border: none;
    padding: 20px 10px;
    vertical-align: middle;
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
}

.cart-table td.pro-quantity .pro-qty {
    width: 65px;
    display: block;
    margin: auto;
}

.count-input-block input {
    -webkit-appearance: textfield !important;
    -moz-appearance: textfield !important;
    appearance: textfield !important;
    color: #414141;
    background-color: white;
    /* height: 44px; */
    padding: 2.8px 8px;
    /* width: 65px; */
    border-radius: 0;
    text-align: left;
}

input:hover , input:focus
{
    border: 1px solid #ccc;
}

.pro-remove a i
{
    font-size: 20px;
        color: #f00;
}

.text-right {
    text-align: right!important;
}

.btn-outlined
{
    padding: 10px 20px;
    border: 1px solid #e0e0e0;
    background: #e0e0e0;
    margin-right: 10px;
}

.cart-price-details h4 {
    border: 1px solid #e5e5e5;
    padding: 10px;
    color: #262261;
    margin-bottom: -1px;
    background: #f3f3f3;
    margin-top: 0;
    text-align: center;
}

.cart-summary .cart-summary-wrap {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #e5e5e5;
    color: #333;
}

.cart-summary .cart-summary-wrap p {
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
}

.cart-summary .cart-summary-wrap h2 {
    border-top: 1px solid #ececec;
    padding-top: 9px;
    font-size: 18px;
    line-height: 23px;
    font-weight: 500;
    margin: 0;
}

.d-flex
{
    display: flex;
}

.align-items-center
{
    align-items: center;
}

.justify-content-between
{
    justify-content: space-between;
}

.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}

.cart-summary .cart-summary-wrap p span {
    float: right;
        color: #e50e51;
}

.cart-summary .cart-summary-wrap h2 span {
    float: right;
        color: #e50e51;
}

.mt-5
{
    margin-top: 25px;
}

.aply-cpn-btn
{
    background: #ef1175;
    color: #fff;
    border: 1px solid #ef1175;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.aply-cpn-btn:hover
{
    color: #fff;
    background: #ff6600;
}

.left-filter
{
  background: #fff;
  /* padding: 10px; */
      box-shadow: 1px 1px 10px #0000003b;
    border-radius: 6px;
}

.filter-part-heading
{
  font-size: 18px;
  font-weight: 600;
}

.filter-part-heading span
{
  font-size: 16px;
}

.filter-part-clear-text
{
  color: red;
  font-size: 12px;
  margin-bottom: 0;
}

.cus-checkbox {
  display: block;
}

.cus-checkbox input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.cus-checkbox label {
  position: relative;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 12px;
      color: #656565;
    font-weight: 500;
        display: flex;
    align-items: center;
}

.cus-checkbox label:before {
  content: '';
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid #b9b9b9;
    box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
    padding: 8px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
}

.cus-checkbox input:checked + label:before
{
  border-color: #cb2c09;
}

.cus-checkbox input:checked + label:after {
  content: '';
    display: block;
    position: absolute;
    top: 3px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid #cb2c09;
    border-width: 0 1px 1px 0;
    transform: rotate(45deg);
}

.filter-budget-list li
{
      margin: 15px 15px 15px 0;
}
.filter-budget-list li a
{
  padding: 10px 10px;
  background: #fff;
  border: 1px solid #c1c1c1;
    color: #616161;
  border-radius: 6px;
  font-size: 14px;
}

.filter-budget-list .btn {
  border-radius: 20px;
  line-height: 1.2;
  margin-bottom: 15px;
  margin-left: 10px;
  border-color: #bbbbbb;
  background-color: #FFF;
  color: #14a4be;
}
.filter-budget-list .btn.active {
  border-color: #14a4be;
  background-color: #14a4be;
  color: #FFF;
  box-shadow: none;
}
.filter-budget-list .btn:hover {
  border-color: #158b9f;
  background-color: #158b9f;
  color: #FFF;
}

.p-3
{
    padding: 15px;
}

.price-range-slider {
  width: 100%;
  float: left;
  /* padding: 10px 20px; */
}
.price-range-slider .range-value {
  margin: 0;
}
.price-range-slider .range-value input {
  width: 100%;
  background: none;
  color: #000;
  font-size: 16px;
  font-weight: initial;
  box-shadow: none;
  border: none;
  margin: 10px 0 20px 0;
}
.price-range-slider .range-bar {
  border: none;
  background: #d2d2d2;
    height: 8px;
    width: 96%;
    margin-left: 8px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.ui-widget.ui-widget-content {
    border: 1px solid #d2d2d2;
}
.price-range-slider .range-bar .ui-slider-range {
  background: #ef1175;
}
.price-range-slider .range-bar .ui-slider-handle {
  border: none;
  border-radius: 25px;
  background: #ef1175;
  border: 2px solid #ef1175;
  height: 20px;
    width: 20px;
    top: -7px;
  cursor: pointer;
}
.price-range-slider .range-bar .ui-slider-handle + span {
  background: #ef1175;
}

.custom-radios div {
  display: inline-block;
}
.custom-radios input[type=radio] {
  display: none;
}
.custom-radios input[type=radio] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.custom-radios input[type=radio] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 34px;
}
.custom-radios input[type=radio] + label span img {
  opacity: 0;
  transition: all 0.3s ease;
}
.custom-radios input[type=radio]#color-1 + label span {
  background-color: #2ecc71;
}
.custom-radios input[type=radio]#color-2 + label span {
  background-color: #3498db;
}
.custom-radios input[type=radio]#color-3 + label span {
  background-color: #f1c40f;
}
.custom-radios input[type=radio]#color-4 + label span {
  background-color: #e74c3c;
}
.custom-radios input[type=radio]#color-5 + label span {
  background-color: #0c0b0b;
}
.custom-radios input[type=radio]#color-6 + label span {
  background-color: #ffffff;
}
.custom-radios input[type=radio]#color-7 + label span {
  background-color: #FFA500;
}
.custom-radios input[type=radio]#color-8 + label span {
  background-color: #800080;
}


.custom-radios input[type=radio]:checked + label span img {
  opacity: 1;
}

.m-0
{
    margin: 0;
}

.mb-4
{
    margin-bottom: 10px;
}

.fil-applied-list li a {
    padding: 5px 10px;
    background: #dcdcdc;
    color: #616161;
    border-radius: 6px;
    font-size: 14px;
    margin: 2px 6px 2px 0;
}

.fil-applied-list li a i
{
    margin-left: 5px;
}

a:hover
{
    text-decoration: none;
}

.klaProBox img
{
    width: 100%;
}

.select-dropdown {
  position: relative;
  display: inline-block;
  max-width: 100%;
  margin: 0 15px 0 0;
}
.select-dropdown::last-child {
  margin-right: 0px;
}
.select-dropdown__button {
  padding: 10px 35px 10px 15px;
  background-color: #fff;
  color: #616161;
  border: 1px solid #cecece;
  border-radius: 3px;
  cursor: pointer;
  width: 210px;
  text-align: left;
}
.select-dropdown__button::focus {
  outline: none;
}
.select-dropdown__button .fa-chevron-down {
  position: absolute;
  right: 10px;
  top: 12px;
}
.select-dropdown__list {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  max-height: 300px;
  overflow: auto;
  margin: 0;
  padding: 0;
  border: 1px solid #cecece;
  border-top: 0px solid transparent;
  list-style-type: none;
  opacity: 0;
  pointer-events: none;
  transform-origin: top left;
  transform: scale(1, 0);
  transition: all ease-in-out 0.3s;
  z-index: 2;
}
.select-dropdown__list.active {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1, 1);
}
.select-dropdown__list-item {
  display: block;
  list-style-type: none;
  padding: 10px 15px;
  background: #fff;
  border-top: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 1.4;
  cursor: pointer;
  color: #616161;
  text-align: left;
  transition: all ease-in-out 0.3s;
}
.select-dropdown__list-item:hover {
  background-color: #ef1175;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.product-list-hd
{
        color: #fff;
    font-size: 30px;
    font-weight: 500;
}

.pagination
{
    display: flex;
    justify-content: flex-end;
}

.pagination > li > a, .pagination > li > span
{
    border-radius: 50%;
    margin: 0 5px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span , .pagination > li:last-child > a, .pagination > li:last-child > span
{
    border-radius: 50%;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus
{
    background-color: #ef1175;
    border-color: #ffffff;
    box-shadow: 1px 1px 10px #00000052;
}


#copyright{display:none;}
/**********************************************************************/
@media(max-width:1520px){
    .innerTextDiv {
        min-height: 489px;
    }
    .innerTextDiv p {
        font-size: 16px;
        line-height: 20px;
        padding: 0;
    }
}

@media(max-width:1400px){
    .imgProduct img {
        width: 100%;
        height: 417px;
    }
}
@media(max-width:1366px){
    #topbar a {
        padding: 10px 15px;
        font-size: 18px;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 15px;
    }
    .leftbar {
        padding: 17px 15px;
        font-size: 26px;
    }
    .innerTextDiv {
        min-height: 397px;
    }
    .innerTextDiv p {
        font-size: 13px;
        line-height: 16px;
    }
}
@media(max-width:1199px){
    .leftbar {
        padding: 15px;
        font-size: 22px;
    }
    .navbar-brand {
        padding: 20px 5px;
        font-size: 24px;
        line-height: 28px;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 12px;
    }
    .nav > li > a {
        padding: 10px 14px;
    }
    #topbar a {
        padding: 10px;
        font-size: 16px;
    }
    .imgProduct img {
        width: 100%;
        height: 490px;
    }
    .innerTextDiv p {
        font-size: 12px;
        line-height: 15px;
    }
    .cartDeatils h4 {
        padding: 0;
    }
    .splTowInfo {
        margin: 5px 0;
    }
    .addCartPrice {
        margin-top: 10px;
    }
    .productInfo {
        margin-top: 10px;
    }
    .codNote {
        margin-top: 25px;
    }
    .dayoffer_tham a {
        width: 69px;
        padding: 2px 0px 5px 5px;
        font-size: 11px;
        margin-left: 48px;
        margin-top: -30px;
    }
    .dayoffer_tham span {
        margin-left: 62px;
        font-size: 12px;
        margin-top: -50px;
    }
    .dayoffer_tham {
        border-top: 115px solid transparent;
        border-right: 120px solid #e80e51;
    }
}
@media(max-width:992px){
    .navbar-brand {
        padding: 20px 5px;
        font-size: 16px;
    }
    .navbar-collapse {
        padding-right: 0;
    }
    .navbar-nav {
        margin: 10px 0;
        padding: 0;
    }
    .nav > li > a {
        padding: 10px 5px;
    }
    #topbar a {
        padding: 10px 8px;
        font-size: 14px;
    }
    .cartDeatils h4 {
        font-size: 18px;
        line-height: 22px;
    }
    .splTowInfo li b {
        font-size: 14px;
    }
    .splTowInfo li label {
        font-size: 11px;
    }
    .addCartPrice {
        width: 100%;
    }
    .addCartPrice ul li span {
        font-size: 12px;
    }
    .addCartPrice ul li a {
        padding: 10px;
        font-size: 15px;
    }
    .dispatchtext span {
        font-size: 12px;
    }
    .productInfo {
        margin-top: 0;
    }
    .productInfo p {
        padding: 0 0 5px 0;
        font-size: 12px;
        line-height: 18px;
    }
    .productInfo p span {
        width: 30%;
    }
    .codNote {
        margin-top: 0;
    }

}
@media(max-width:767px){
    .leftbar {
        padding: 10px;
        font-size: 22px;
    }
    .navbar-brand {
        padding: 12px;
    }
    .navbar-default .navbar-toggle {
        border-color: #61d6ff;
        background: #900808;
    }
    .navbar-default .navbar-toggle .icon-bar {
        background-color: #61d6ff;
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background-color: #f60;
    }
    .navbar-collapse {
        padding-right: 15px;
    }
    .navbar-default .navbar-nav > li > a {
        font-size: 13px;
        border-bottom: 1px solid #ffffff52;
    }
    .dropdown-menu-large {
        margin-left: 0;
        margin-right: 0;
    }
    .dropdown-menu-large > li {
        margin-bottom: 30px;
    }
    .dropdown-menu-large > li:last-child {
        margin-bottom: 0;
    }
    .dropdown-menu-large .dropdown-header {
        padding: 3px 15px !important;
    }
    .dropdown-menu-large .dropdown-header {
        color: #61d6ff;
    }
    .dropdown-menu-large > li > ul > li > a {
        color: #fff;
    }
    #topbar a {
        padding: 8px;
        font-size: 12px;
    }
    .imgProduct img {
        height: auto;
    }
    .innerTextDiv {
        min-height: auto;
    }
    .innerTextDiv p {
        font-size: 14px;
        line-height: 20px;
    }
    .box_headline h2 {
        font-size: 18px;
    }
    .cartDeatils h4 {
        font-size: 16px;
        line-height: 20px;
        margin: 10px 0;
    }
    .splTowInfo li {
        width: 100%;
        float: left;
        margin-bottom: 10px;
    }
    .addCartPrice {
        margin-top: 0;
    }
    .addCartPrice ul li {
        width: 50%;
        float: left;
    }
    .addCartPrice ul li:last-child {
        width: 100%;
        float: left;
        margin-top:5px;
    }
    .productInfo p span {
        width: 50%;
    }
    .dayoffer {
        margin-bottom: 20px;
    }
    .klaProBox img{
        width:100%;
    }
    footer ul li {
        text-align: center;
    }

    .tab , .tabcontent
    {
        width: 100%;
    }

    .my-account
    {
            flex-direction: column;
    }
}
@media(max-width:600px){
    .box_headline h2 {
        font-size: 16px;
        line-height: 26px;
    }
}

.note
{
    text-align: center;
    height: 80px;
    background: -webkit-linear-gradient(left, #0072ff, #8811c5);
    color: #fff;
    font-weight: bold;
    line-height: 80px;
}
.note2inner
{
    text-align: left;
    height: 50px;
    color: #fff;
    font-weight: bold;
    line-height: 50px;
}
.form-content
{
    padding: 5%;
    border: 1px solid #ced4da;
    margin-bottom: 2%;
}
.form-control {
    border-radius: 0.5rem;
    font-size: 16px;
    height: 41px;
}
.btnSubmit
{
    border:none;
    border-radius:1.5rem;
    padding: 1%;
    width: 20%;
    cursor: pointer;
    background: #0062cc;
    color: #fff;
}
.text-muted{
    color: #800000;
}
.info-msg,
.success-msg,
.warning-msg,
.error-msg {
  margin: 10px 0;
  padding: 10px;
  border-radius: 3px 3px 3px 3px;
}
.info-msg {
  color: #059;
  background-color: #BEF;
}
.success-msg {
  color: #270;
  background-color: #DFF2BF;
}
.warning-msg {
  color: #9F6000;
  background-color: #FEEFB3;
}
.error-msg {
  color: #D8000C;
  background-color: #FFBABA;
}
.login-block{
    
    float:left;
    width:100%;
    padding : 50px 0;
    margin-top: 8%;
}
.banner-sec{background:url(https://static.pexels.com/photos/33972/pexels-photo.jpg)  no-repeat left bottom; background-size:cover; min-height:500px; border-radius: 0 10px 10px 0; padding:0;}
.carousel-inner{border-radius:0 10px 10px 0;}
.carousel-caption{text-align:left; left:5%;}
.logcontainer{background:#fff; border-radius: 10px; box-shadow:15px 20px 0px rgba(0,0,0,0.1);}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec .copy-text{position:absolute; width:80%; bottom:20px; font-size:13px; text-align:center;}
.login-sec .copy-text i{color:#FEB58A;}
.login-sec .copy-text a{color:#E36262;}
.login-sec h2{margin-bottom:30px; font-weight:800; font-size:30px; color: #DE6262;}
.login-sec h2:after{content:" "; width:100px; height:5px; background:#FEB58A; display:block; margin-top:20px; border-radius:3px; margin-left:auto;margin-right:auto}
.btn-login{background: #DE6262; color:#fff; font-weight:600;}
.banner-text{width:70%; position:absolute; bottom:40px; padding-left:20px;}
.banner-text h2{color:#fff; font-weight:600;}
.banner-text h2:after{content:" "; width:100px; height:5px; background:#FFF; display:block; margin-top:20px; border-radius:3px;}
.banner-text p{color:#fff;}

.image--cover {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;

  object-fit: cover;
  object-position: center right;
}

.offer_tham span {
    width: 85px;
    float: left;
    margin-top: 16px;
    margin-left: 46px;
    font-size: 16px;
    color: #fafafa;
    font-weight: 600;
}

.offer_tham {
    position: absolute;
    content: '';
    right: 0px;
    top: 0px;
    width: 0;
    height: 0;
    border-bottom: 98px solid transparent;
    border-right: 115px solid #e80e51;
}   
.bg-custom-1 {
  background-color: #85144b;
}
.bg-custom-2 {
  background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.panel-default>.panel-heading {
  color: #333;
  background-color: #fff;
  border-color: #e4e5e7;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
  margin-top: -16px;
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
.cus-checkbox label :hover{
    outline :
    border-color: #e4e5e7;
    
}

.card {
    margin: auto;
    max-width: 70%;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent
}

@media(max-width:767px) {
    .card {
        margin: 3vh auto
    }
}

.cart {
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem
}

@media(max-width:767px) {
    .cart {
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem
    }
}

.summary {
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65)
}

@media(max-width:767px) {
    .summary {
        border-top-right-radius: unset;
        border-bottom-left-radius: 1rem
    }
}

.summary .col-2 {
    padding: 0
}

.summary .col-10 {
    padding: 0
}

.row {
    margin: 0
}

.title b {
    font-size: 1.5rem
}

.main {
    margin: 0;
    padding: 2vh 0;
    width: 100%
}

.col-2,
.col {
    padding: 0 1vh
}

a {
    padding: 0 1vh
}

.close {
    margin-left: auto;
    font-size: 0.7rem
}

/*img {
    width: 3.5rem
}
*/
.back-to-shop {
    margin-top: 4.5rem
}

h5 {
    margin-top: 4vh
}

hr {
    margin-top: 1.25rem
}

form {
    padding: 2vh 0
}

select {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input {
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247)
}

input:focus::-webkit-input-placeholder {
    color: transparent
}

.btn {
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 1.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0
}

.btn:focus {
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none
}

.btn:hover {
    color: white
}

a {
    color: black
}

a:hover {
    color: black;
    text-decoration: none
}

#code {
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253), rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center
}

.border-top{
    border-top: 2px solid #80808091;
}

.border-bottom{
    border-bottom: 2px solid #80808091;
}


.quantity {
 display: inline-block; }

.quantity .input-text.qty {
 width: 35px;
 height: 41px;
 padding: 0 5px;
 text-align: center;
 background-color: transparent;
 border: 1px solid #efefef;
}

.quantity.buttons_added {
 text-align: left;
 position: relative;
 white-space: nowrap;
 vertical-align: top; }

.quantity.buttons_added input {
 display: inline-block;
 margin: 0;
 vertical-align: top;
 box-shadow: none;
}

.quantity.buttons_added .minus,
.quantity.buttons_added .plus {
 padding: 0px 6px 0px;
 height: 41px;
 background-color: #ffffff;
 border: 1px solid #efefef;
 cursor:pointer;}

.quantity.buttons_added .minus {
 border-right: 0; }

.quantity.buttons_added .plus {
 border-left: 0; }

.quantity.buttons_added .minus:hover,
.quantity.buttons_added .plus:hover {
 background: #eeeeee; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
 -webkit-appearance: none;
 -moz-appearance: none;
 margin: 0; }
 
 .quantity.buttons_added .minus:focus,
.quantity.buttons_added .plus:focus {
 outline: none; }


 .navbar-right .dropdown-menu{
    right: auto;
 }
 .dropdown-menu > li > .droptext{
    font-size: 16px;
    font-weight: 600;
    color: black;
 }